/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styling for image */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for item text */
strong {
    display: block;
    font-size: 1.4em;
    color: #007BFF;
    margin-bottom: 10px;
}

em {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #888;
}

li .price {
    font-weight: bold;
    font-size: 1.2em;
    color: #28a745;
    margin-top: 5px;
}

/* Dark theme styles */
html.dark-theme body {
    background-color: #121212;
    color: #e0e0e0;
}

html.dark-theme h1 {
    color: #e0e0e0;
}

html.dark-theme li {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

html.dark-theme strong {
    color: #bb86fc;
}

html.dark-theme em {
    color: #b0b0b0;
}

html.dark-theme li .price {
    color: #03dac6;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin: 5px;
}

html.dark-theme #theme-toggle {
    color: #fff;
}